@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    input:checked + div {
        @apply border-teal-500;
    }

    input:checked + div svg {
        @apply block;
    }
}
