@import 'tailwindcss';

@layer utilities {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    input:checked + div {
        @apply border-teal-500;
    }

    input:checked + div svg {
        @apply block;
    }
}
