@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer utilities {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    input:checked + div {
        @apply border-teal-500;
    }

    input:checked + div svg {
        @apply block;
    }
}
